<!-- Contact HTML qui -->
<section class="container py-5 newsletter-section" id="contact">
  <h2 class="text-center mb-4 wow fadeIn">Contact Me!</h2>
  <div class="row justify-content-center wow fadeInUp">
    <div
      class="col-12 col-md-10 col-lg-8 d-flex flex-column align-items-center"
    >
      <a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=daniel9018@hotmail.it"
        target="_blank"
        class="card-btn-gradient email-item"
      >
        <img src="assets/telegram.png" alt="telegram" class="icon-lang" />
        EMAIL
      </a>
    </div>
  </div>
</section>
