<!-- About HTML qui -->
<section id="aboutme" class="about-section-custom">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div
        class="col-lg-5 col-md-6 text-center mb-5 mb-lg-0 aos-init aos-animate"
        data-aos="fade-right"
      >
        <img src="assets/DannBarr2.png" class="me-personal" alt="me-personal" />
      </div>
      <div class="col-lg-6 col-md-6 aos-init aos-animate" data-aos="fade-left">
        <div class="max-box">
          <h2 class="mb-4">About Me!</h2>
          <p class="lead subtitle">Front-end-developer.</p>
          <p class="lead description">
            Ciao Sono Barresi Daniel! Un sviluppatore Front-End, appassionato di
            creare interfacce moderne, intuitive e curate nei dettagli. Amo
            lavorare con tecnologie web e trasformare idee in esperienze
            digitali fluide e funzionali. Oltre al front-end, mi piace molto
            sviluppare anche in Flutter e Dart, perché mi permettono di
            costruire applicazioni mobile performanti. Sono sempre alla ricerca
            di nuove sfide, nuove tecnologie da imparare e progetti in cui poter
            dare il massimo.
          </p>
          <a
            href="https://www.linkedin.com/in/danielbarresi/"
            target="_blank"
            class="card-btn-gradient"
          >
            <img
              src="assets/logo linkedin.png"
              alt="linkedin"
              class="icon-lang"
            />
            LINKEDIN
          </a>
          <a
            href="https://github.com/DanielBarresi"
            target="_blank"
            class="card-btn-gradient"
          >
            <img src="assets/logo github.png" alt="github" class="icon-lang" />
            GIT HUB
          </a>
          <a
            href="assets/cv.pdf"
            target="_blank"
            class="card-btn-gradient"
          >
            <img
              src="assets/logo download.png"
              alt="download"
              class="icon-lang"
            />
            CV
          </a>
          <div class="spazio-vuoto"></div>
        </div>
      </div>
    </div>
  </div>
</section>
