<!-- Sezione Projects personali -->

<section id="projects" class="projects-section">
  <div class="container">
    <h2 class="text-center mb-5">Projects & Certificate</h2>

    <div class="projects-grid">
      <div class="card-wrap">
        <div class="card-header one">
          <img src="assets/razzo.png" alt="razzo" class="icon-lang" />
        </div>
        <div class="card-content">
          <h1 class="card-title">Login Football Animated</h1>
          <p class="card-text">
            Applicazione Flutter con login animato e sfondi a tema calcio.
          </p>
          <a
            href="https://github.com/DanielBarresi/login_football_animated"
            target="_blank"
            class="card-btn"
          >
            GIT HUB
          </a>
        </div>
      </div>

      <div class="card-wrap">
        <div class="card-header two">
          <img src="assets/razzo.png" alt="razzo" class="icon-lang" />
        </div>
        <div class="card-content">
          <h1 class="card-title">Sito Replica OneKit</h1>
          <p class="card-text">
            Sito_Web_Replica-OneKit-Landing-Page con HTML5 e CSS3.
          </p>
          <a
            href="https://github.com/DanielBarresi/Sito_Web_Replica-OneKit-_By_Barresi__Daniel-main"
            target="_blank"
            class="card-btn"
          >
            GIT HUB
          </a>
        </div>
      </div>

      <div class="card-wrap">
        <div class="card-header three">
           <img src="assets/razzo.png" alt="razzo" class="icon-lang" />
        </div>
        <div class="card-content">
          <h1 class="card-title">Django Projects</h1>
          <p class="card-text">
            progetto di blog sviluppato con il framework Django in Python.
          </p>
          <a
            href="https://github.com/DanielBarresi/Django_Project"
            target="_blank"
            class="card-btn"
          >
            GIT HUB
          </a>
        </div>
      </div>

      <div class="card-wrap">
        <div class="card-header four">
          <img
            src="assets/certified.png"
            alt="certificato AWS"
            class="icon-cert"
          />
        </div>
        <div class="card-content">
          <h1 class="card-title">BADGE</h1>
          <p class="card-text">AWS EDUCATE</p>
          <a
            href="https://www.credly.com/badges/7837a7c7-7d24-4c8b-93de-1230574ec267"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button class="card-btn four">VIEW</button>
          </a>
        </div>
      </div>

      <div class="card-wrap">
        <div class="card-header five">
          <img
            src="assets/certified.png"
            alt="certificato AWS"
            class="icon-cert"
          />
        </div>
        <div class="card-content">
          <h1 class="card-title">CERTIFICATE</h1>
          <p class="card-text">PANDAS</p>
          <a
            href="https://www.kaggle.com/learn/certification/danielbarresi/pandas"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button class="card-btn one">VIEW</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
