<!-- Skills HTML qui -->
<section id="skills" class="skills-section-custom">
  <div class="container">
    <h2>Skills & languages</h2>
    <h3>Front-End</h3>
    <div class="languages-grid">
      <!-- HTML5 -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/html5.png" alt="HTML5" class="icon-lang" />
          <p>HTML5</p>
        </div>
      </div>
      <!-- CSS3 -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/css.webp" alt="CSS3" class="icon-lang" />
          <p>CSS3</p>
        </div>
      </div>
      <!-- JavaScript -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/js.png" alt="JavaScript" class="icon-lang" />
          <p>JavaScript</p>
        </div>
      </div>
      <!-- Angular -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/angular.png" alt="Angular" class="icon-lang" />
          <p>Angular</p>
        </div>
      </div>
      <!-- Bootstrap -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/bootstrap.png" alt="bootstrap" class="icon-lang" />
          <p>Bootstrap</p>
        </div>
      </div>
      <!-- Sass -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/sass.png" alt="sass" class="icon-lang" />
          <p>Sass</p>
        </div>
      </div>
      <!-- React -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/react.png" alt="react" class="icon-lang" />
          <p>React</p>
        </div>
      </div>
      <!-- TypeScript -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/typescrypt.png" alt="typescript" class="icon-lang" />
          <p>TypeScript</p>
        </div>
      </div>
    </div>
    <h3>Back-End & Database</h3>
    <div class="languages-grid">
      <!-- Java -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/java.png" alt="Java" class="icon-lang" />
          <p>Java</p>
        </div>
      </div>
      <!-- Python -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/python.png" alt="python" class="icon-lang" />
          <p>Python</p>
        </div>
      </div>
      <!-- MySQL -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/mysql.png" alt="mySQL" class="icon-lang" />
          <p>MySQL</p>
        </div>
      </div>
      <!-- MongoDB -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/mongodb.png" alt="mongoDB" class="icon-lang" />
          <p>MongoDB</p>
        </div>
      </div>
      <!-- Data Analytics -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img
            src="assets/data analitics.png"
            alt="Data Analytics"
            class="icon-lang"
          />
          <p>Data Analytics</p>
        </div>
      </div>
      <!-- C -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/C.png" alt="c" class="icon-lang" />
          <p>C</p>
        </div>
      </div>
    </div>
    <h3>Mobile & Tools</h3>
    <div class="languages-grid mobile-tools-grid">
      <!-- Flutter -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/flutter.png" alt="Flutter" class="icon-lang" />
          <p>Flutter</p>
        </div>
      </div>
      <!-- Dart -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/dart.png" alt="Dart" class="icon-lang" />
          <p>Dart</p>
        </div>
      </div>
    </div>
    <h3>Cloud</h3>
    <div class="languages-grid">
      <!-- AWS -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/aws.png" alt="AWS" class="icon-lang" />
          <p>Aws Amazon Web Services</p>
        </div>
      </div>
      <!-- Azure -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img src="assets/azure.png" alt="Azure" class="icon-lang" />
          <p>Azure</p>
        </div>
      </div>
      <!-- Google Cloud -->
      <div class="shadow-sm rounded-3 bg-body p-4 mb-5 hover-box-up">
        <div class="display-4 text-primary mb-2">
          <img
            src="assets/google cloud.png"
            alt="Google Cloud"
            class="icon-lang"
          />
          <p>Google Cloud</p>
        </div>
      </div>
    </div>
  </div>
</section>
